body{
    position: absolute;
    margin: 0px;
    width: 100%;
    top: 0px;
    
}
@font-face{
        font-family: BoldTitle;
        src: url(../Font/SVN-Nexa\ Black.otf);
}
@font-face{
    font-family: Regular;
    src: url(../Font/SVN-Nexa\ Regular.otf);
}
.container{
    position: relative;
    overflow: scroll;
    scroll-snap-type: y proximity;
    width: 100%;
    /* height: 102vh; */
    padding: 0px;
    overflow: auto;
}
section{
    scroll-snap-align: start;
    /* height: 102vh; */
    overflow: hidden;
} 
/* #section2{
    background: lightgreen;
} */
#section3{
    background: #8a8a88;
}

#logo1{
    padding-top: 2.5%;
    margin: 0px auto 0px auto;
    display: none;
    
}
/* slideShow */
nav{
    position: relative;
    top: 1%;
    width: 100%;
    height: 8vh;
}
.toggle-button{
    position: absolute;
    right: 1rem;
    top: 2em;
    display: none;
}
.burger{
    margin-top: 5%;
    /* margin-bottom: 5%; */
    width: 25px;
    height: 4px;
    background: #000;
}
ul{
    align-items: center;
    margin: auto;
    display: flex;
    font-family: Regular;
    font-size: 20x;
}
li{
    /* margin-top: 0% auto 0% auto; */
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 10%;
    z-index: 10;
    list-style-type: none;
    background: white;
}

#li0{
    margin-left: 12.5%;
    margin-right: 1%;
    font-size: 0.9vw;
}
#li1{
    margin-left: 1%;
    margin-right: 12.5%;
    font-size: 0.9vw;
}   
#li2{
    margin-left: 8.5%;
    margin-right: 3%;
    font-size: 0.9vw;
}
#li3{
    margin-left: 1%;
    margin-right: 8.5%;
    font-size: 0.9vw;
}
#logo2{
    margin-left: -3.5%;
    margin-right: 5.5%;
}
.space{
    display: none;
}
a{
    position: relative;
    width: 10%;
    top: -10px;
}
a::before {
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: relative;
    display: block;
    left: -35px;
    top: 24px;
    width: 32px;
    height: 24px;   
}
li a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #f7ae3f;
}
#a0::before{
    background-image: url("../images/gray-icon0.jpg");
    background-size: 90%;
}
#a0:hover::before{
    background-image: url("../images/icon0.jpg");
    background-size: 90%;
}
#a1::before{
    background-image: url('../images/gray-icon1.jpg');
    background-size: 90%;
}
#a1:hover::before{
    background-image: url("../images/icon1.jpg");
    background-size: 90%;
}
#a2::before{
    background-image: url('../images/gray-icon2.jpg');
    background-size: 90%;
}
#a2:hover::before{
    background-image: url("../images/icon2.jpg");
    background-size: 90%;
}
#a3::before{
    background-image: url('../images/gray-icon3.jpg');
    background-size: 90%;
}
#a3:hover::before{
    background-image: url("../images/icon3.jpg");
    background-size: 90%;
}
/* SLIDESHOW1 */
.slideshow{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 93vh;
    background: gray;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 20%;
    height: 100%;
    transition: 0.6s;
    background-size: cover;
}
/* .slide img{
    width: 100%;
    height: 100%;
} */
#slide1{
    background-image: url("../images/slider1.jpg");
    background-repeat: no-repeat;
}
#slide2{
    background-image: url("../images/slider2.jpg");
    text-align: center;
    vertical-align: middle;
}
#slide3{
    background-image: url("../images/slider3.jpg");
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 60px;
    height: 2px;
    border: 2px solid #fff;
    margin: 4px;
    cursor: pointer;
    transition: 0.4s;
}
/* .bar:hover{
    background-color: #fff;
} */
/* input[name="r"]{
    position: absolute;
    visibility: hidden;
} */

/* #r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
} */
#text1{
    font-family: BoldTitle;
    text-align: center;
    color: #fff;
    font-size: 7em;
    text-shadow: 3px 4px 5px #000000;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-style: bold;
}
#parent{
    border: 1px solid #fff;
    width: 22.5%;
    margin: 0% auto 0% auto;
    text-align: center;
    line-height: 2em;
}

#text2{
    font-family: Regular;
    vertical-align: middle;
    color: #fff;
}



/* PROMO - KHUYẾN MÃI */

#section2{
    font-family: Regular;
    position: relative;
    width: 80%;
    margin: 2% 10% 2% 10%;
    height: 100%;
    /* border: 1px solid black; */
    text-align: center;
}
h1{
    font-family: BoldTitle;
    padding-top: 0%;
    position: relative;
    font-weight: bolder;
    font-size: 3em;
    color: #f8b300;
    z-index: 10;
}
.foot-decoration{
    position: relative;
    width: 20%;
    height: 16px;
    background-color: #fff2bd;
    margin-left: 40%;
    margin-top: -3.25%;   
}
#decoration2{
    margin-top: -2.5%;   
}
.article{
    position: relative;
    width: 90%;
    /* background-color: black; */
    margin: 2.5% 5% 2.5% 5%;
}
.line{
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
}
#line1-left{
    position: relative;
    width: 66.6%;
    height: 100%;
    /* border: 1px solid white; */
}
#line1-left-pic{
    width: 100%;
    /* background-image: url("../images/master_27.jpg"); */
}
#line1-left-info{
    position: relative;
    top: 10%;
}
#line1-right{
    position: relative;
    width: 33.3%;
    height: 100%;
    /* border: 1px solid white; */
}
#line1-right-pic{
    width: 100%;
}
.info{
    margin-top: -0.5%;
    position: relative;
    width: 100%;
    height: 23.5%;
    background-color: #f6ac4d;
}

.expandable-info{
    position: relative;
    width: 100%;
    height: 6.5%;
    background-color: #e19a3e;
}

#right1{
    background-color: #535353;
}
#right2{
    background-color: #353535;
}
.content1{
    text-align: left;
    margin: 0px;
    padding: 1.25% 5% 1.25% 10%;
    color: white;
    font-size: 12.5px;
}
.content2{
    text-align: left;
    margin: 0px;
    padding: 2.5% 5% 2.5% 10%;
    color: white;
    font-size: 12.5px;
}
#content-big{
    font-family: BoldTitle;
    font-size: 25px;
    font-weight: bolder;
}

.expand-icon{
    width: 30px;
    cursor: pointer;
    /* margin-top: -20%; */
}
.hidden-info{
    padding-top: 2.5%;
    padding-left: 5%;
    padding-bottom: 2.5%;
    text-align: left;
    position: relative;
    width: 95%;
    height: 50px;
    color: white;
    margin-top: -0.9%;
    display: none;
    overflow: auto;
    overflow-y:scroll;
    
}
.hidden-info::-webkit-scrollbar-thumb {
    background: white; 
  }
   
.line2-section{
    position: relative;
    width: 33.3%;
    height: 100%;
}
.line2-img{
    position: relative;
    width: 100%;
}
.line2-info{
    margin-top: -5.5%;
    position: relative;
    width: 100%;
    height: 23.5%;
}
.content3{
    color: white;
    text-align: left;
    padding: 2.5% 5% 2.5% 10%;
    font-size: 12.5px;
}

#line2-info-left{
    background-color: #535353;
}

#line2-info-middle{
    background-color: #ffdbab;
}

#line2-info-right{
    background-color: #e4e4e4;
}
.line2-expandable-info{
    position: relative;
    width: 100%;
    height: 6.5%;
    margin-top: -4.45%;
}

#line2-expand-left{
    background-color: #353535;
}

#line2-expand-middle{
    background-color: #facd92;
}

#line2-expand-right{
    background-color: #c6c6c6;
}
/* video */
video{
    width: 100%;
    /* height: 100%; */
}
.div-hide{
    display: none;
}
#after-video{
    position: relative;
    background-image: url('../images/after-video.jpg');
    background-position: 50% 0%;
    background-size: cover;
    z-index: 10;
    transition: 0.5s ease;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
/* Gallery */
#section4{
    position: relative;
    text-align: center;
    width: 100%;
    height: 105vh;
}
.gallery-image{
    margin-top:2%;
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    display: flex;
}

#gallery-section1{
    width: 25%;
    height: 72.5%;
}

#gallery-section2{
    width: 60%;
    height: 72.5%;

}

#gallery-section3{
    width: 25%;
    height: 72.5%;

}

.side-image{
    position: relative;
    width: 100%;
    height: 70%;
}

.side-info{
    position: relative;
    width: 100%;
    height: 20%;
    padding: 0;
    margin-top: -1%;
}


.side-footer{
    
    position: relative;
    width: 100%;
    height: 7.5%;   
}

#gallery-left-info{
    background-color: #cacaca;
}
#gallery-left-footer{
    background-color: #c6c6c6;
}

#gallery-right-info{
    background-color: #5f5f5f;
}
#gallery-right-footer{
    background-color: #353535;
}


#gallery-middle-info{
    background-color: #f6ac4d;
    margin-top: -0.4%;
}
#gallery-middle-footer{
    background-color: #e19a3e;
}

.content4{
    padding-top: 17.5px ;
    padding-left: 7.5%;
    margin: 0px;
    text-align: left;
    color: white;
    font-family: Regular;
}
#special-text{
    font-family: BoldTitle;
}
.small-images-slider{
    width: 100%;
    height: 100%;
    background-color: #e19a3e;
    transition: height 2s;
}
.small-slider{
    /* border: 10px solid white; */
    position: relative;
    width: 15%;
    height: 65%;
    margin: 1.25% 2.5% 0% 2.5%;
    border: none;
    /* z-index: 99; */
    background-size: cover;
    background-repeat: no-repeat;

}

#small-slider0{
    background-image: url("../images/big0.jpg");   
}
#small-slider1{
    background-image: url("../images/big1.jpg");   
}
#small-slider2{
    background-image: url("../images/big2.jpg");   
}
#small-slider3{
    background-image: url("../images/big3.jpg");   
}
#small-slider4{
    background-image: url("../images/big4.jpg");   
}

.mover{
    margin-left: 70%;
    margin-top: 1%;
    width: 10.5%;
    height: 4.5%;
    display: flex;
    text-align: center;
    color: black;
}
/* .mover:hover{
    background-color: black;
} */
.space{
    width: 5%;
    height: 100%;
}
.run{
    width: 35%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    padding-top: 13.5%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(101, 101, 101, 0.75);
    z-index: 10;
}
/* -------------------------------------- */
.run:hover {
    background-color: #f6ac4d;
    color: white;
}
.last{
    /* position: relative; */
    /* width: 100%; */
    /* height: 15%; */
    /* bottom: -2.5%; */
    /* padding-top: 0.75%; */
    /* position: absolute; */
    background-color: #a3a3a3;
    color: white;
    height: 5%;
    text-align: center;
    font-family: Regular;
    padding: 20px;
    /* z-index: -100; */
}
@media only screen and (min-width: 1024px){
    ul{
        display: flex;
        flex-direction: row;
    }
    #logo2{
        display: block;
    }
    li{
        margin-left: 6.5%;
        margin-right: 6.5%;
        width: 20%;
    }
}
@media only screen and (max-width: 1024px){
    .container{
        position: relative;
        overflow: scroll;
        scroll-snap-type:none;
        width: 100%;
        /* height: 102vh; */
        padding: 0px;
        overflow: auto;
    }
    ul{
        font-size: 15px;
    }
    li{
        width: 20%;
        margin-left: 8.5%;
        margin-right: 8.5%;
    }
    #slide1{
        background-size: cover;
        background-position: 50% 0%;
        background-size: 100% 100%;
    }
    #slide2{
        background-size: cover;
        background-position: 50% 0%;
        background-size: 100% 100%;

    }
    #text1{
        line-height: 1em;
        font-size: 5em;
    }
    #slide3{
        background-size: cover;
        background-position: 50% 0%;
        background-size: 100% 100%;
    }
    .navigation{
        bottom: 87.5px;
     }
     .foot-decoration{
         margin-top: -7.25%;
     }
     #decoraiton2{
         margin-top: -3%;
     }
     #section3{
         height: 100vh;
     }
     video{
         height: 100%;
         
     }
    #logo1{
        display: block;
    }
    #logo2{
        display: none;
    }
    #line1-info-left{
        height: 8.70em;
    }
  
    #after-video{
        height: 80%;
       background-position: 50% 0%;
    }
    #text1{
        margin-top: 20%;
    }
    .side-footer{
        height: 6.5%;   
    }
    .small-images-slider{
        bottom: 21%;
    }
    .small-slider{
       top: 15%;
    }
    .mover{
        visibility: hidden;
    }
}
/* FOR MOBILE */
@media only screen and (max-width: 768px){
    .toggle-button{
        display: block;
    }

    .slideshow{
        margin-top: -10%;
    }
    .navigation{
       bottom: 35px;
    }
    #slide1{
        background-size: cover;
        background-position: 0% 0%;
        background-image: url('../images/slider1-no-text.jpg');

        /* background-size: 100% 100%; */
    }
    #slide2{
        background-size: cover;
        background-position: 0% 0%;
        /* background-size: 100% 100%; */

    }
    #slide3{
        background-size: cover;
        background-position: 0% 0%;
        /* background-size: 100% 100%; */
    }
    ul{
        flex-direction: column;
        display: none;
    }
    li{
        width: 100%;
        height: calc(92vh/4);
        vertical-align: middle;
        margin-right: -50%;
    }
    #li0{
        margin-left: 12%;
        margin-right: -50%;

    }
    
    #li1{
        margin-left: 12%;
        margin-right: -50%;

    }
    
    #li2{
        margin-left: 12%;
        margin-right: -50%;

    }
    
    #li3{
        margin-left: 12%;
        margin-right: -50%;

    }
    .space{
        display: block;
        height: 40%;
    }
    li a{
        position: relative;
        left: 27.5%;
    }
    
    .ul1.active{
        display: flex;
    }
    .slide{
        width: 20%;
        height: 100%;
        /* transition: 0.6s; */
    }
    #text1{
        line-height: 1em;
        font-size: 4em;
    }
    #parent{
        margin-top: 0%;
        width: 40%;
    }
    #slide1{
        background-size: cover;
    }
    #section2{
        width: 100%;
        height: 102vh;
        margin: 0%;
        overflow: auto;
    }
    h1{
        padding-top: 12.5%;
        font-size: 2em;
        z-index: 10;
    }
    #decoration1{
        margin-top: -11.5%;   
    }
    #decoration2{
        margin-top: -11.5%;   
    }
    .info{
        margin-top: -1.5%;
    }
    #line1-info-left{
        height: 90.5px;
    }
    #right1{
        height: 91px;
        margin-top: -2.5%;
    }
    .line2-info{
        margin-top: -11%;
    }

    .expandable-info{
        height: 1.5%;
    }
    .line2-expandable-info{
        height: 1.5%;
        margin-top: -8.5%;
    }
    .expand-icon{
        width:20px;
    }
    .content1{
        font-size: 8px;
        padding-left: 7.5%;
    }
    .content2{
        font-size: 8px;
        padding-left: 7.5%;
    }
    .content3{
        font-size: 8px;
        padding-left: 7.5%;
    }
    .content4{
        font-size: 8px;
        padding-left: 7.5%;
    }
    #special-text{
        font-size: 15px;
        font-weight: bolder;
        padding-left: 7.5%;
    }
    #content-big{
        font-size: 15px;
        font-weight: bolder;
        padding-left: 7.5%;
    }
    .hidden-info{
        font-size: 11px;
    }
    video{
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        padding-right: 0%;
        padding-left: 0%;
        display: block;
        width: 100%;
        height: 30%;
    }
    #after-video{
        display: block;
        height: 70%;
        background-position: 50% 0%;
    }
    .small-images-slider{
        bottom: 0%;
        margin-top: -58%;
    }
    .small-slider{
        background-size: 100% 100%;
        margin-top: 5%;
    }
    .side-footer{
        height: 7.5%;   
    }
    .mover{
        display: none;
    }
}
