<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sapporo Summer!</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'>
    <script src="../js/jQuery.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/axios.min.js"></script>
    
    <style>
        
        .linetest {
            display: flex;
            flex-wrap: wrap;
        }
        .isBordered{
            border: solid 1px white;
        }
        .noBorder{
            border: none;
        }
        .line1test {
            flex-grow: 1;
        }

        .line1test:nth-child(even) {
            flex: 1 33.3%;
        }

        .line1test:nth-child(odd) {
            flex: 1 66.6%;
        }

        .line1test img, .line2-sectiontest img {
            width: 100%;
            height: 22vw !important;
            margin-bottom: -4px;
        }
        .line2-sectiontest img{
            margin-right: -2.1px;
            width: 100.2%;
        }
        .line2-sectiontest {
            width: 33.3%;
        }
        .expandable-info img,.line2-expandable-info img{
            width: 30px !important;
            height: 30px !important;
        }


    </style>
</head>

<body onload="loadImg1()">
    <div class="container">
        <!-- header & slideshow1 -->

        <section class="snap" id="section1">
            <img id="logo1" src="../images/saporo-slice_02.jpg" alt="">
            <div class="toggle-button">
                <div class="burger"></div>
                <div class="burger"></div>
                <div class="burger"></div>
            </div>
            <nav>
                <ul class="ul1">
                    <li id="li0">
                        <div class="space"></div>
                        <a id="a0" href="#section1">TRANG CHỦ</a>
                    </li>
                    <li id="li1">
                        <div class="space"></div>
                        <a id="a1" href="#section2">KHUYẾN MÃI</a>
                    </li>
                    <li id="logo2">
                        <img src="../images/saporo-slice_02.jpg" alt="">
                    </li>
                    <li id="li2">
                        <div class="space"></div>
                        <a id="a2" href="#section3">3 BƯỚC RÓT BIA</a>
                    </li>
                    <li id="li3">
                        <div class="space"></div>
                        <a id="a3" href="#section4">THƯ VIỆN</a>
                    </li>
                </ul>
            </nav>
            <div class="slideshow" id="slideshow1">
                <div class="slideshow__container js-slideshow" :class="{ active: isActive(index) }"
                    v-for="slide, index in listImg">
                    <img :src="'http://demo.123vieclam.vn/images/banner' + slide.id + '.jpg'" />
                </div>
                <div class="navigation">
                    <div v-for="slide, index in listImg" :class="{ active: isActive(index) }" @click="currentSlide(index)" class="bar" id="bar1"></div>
                </div>
            </div>
        </section>
        <!-- khuyen mai -->
        <section class="snap" id="section2">
            <div class="title1" style="margin-bottom: 5%;">
                <h1>KHUYẾN MÃI</h1>
                <div class="foot-decoration" id="decoration1"></div>
            </div>
            <div class="article">
                <div class="linetest">
                    <!-- <div id="line1-dummy"></div> -->
                    <div class="line1test">
                        <img src="../images/master_27.jpg" alt="" id="line1-left-pic">
                        <!-- <div id="line1-left-pic"></div> -->
                        <div style="margin-left: 1.5px;" class="info" id="line1-info-left">
                            <p class="content1">Chương trình Offline</p>
                            <p class="content1" id="content-big">SAPPORO CÙNG U23 VIỆT NAM</p>
                            <p class="content1">20.03.2020 - 29.03.2020</p>
                        </div>
                        <div style="margin-left: 1.5px;" class="expandable-info">
                            <img src="../images/ic_action_name.png" class="expand-icon" id="line1-icon0">
                        </div>
                    </div>
                    <div class="line1test">
                        <img src="../images/master_28.jpg" alt="" id="line1-right-pic" style="height: 350px;">
                        <div class="info" id="right1" >
                            <p class="content2">Chương trình Offline</p>
                            <p class="content2" id="content-big">THƯỞNG THỨC BIA</p>
                            <p class="content2">20.03.2020 - 29.03.2020</p>
                        </div>
                        <div class="expandable-info" id="right2">
                            <img src="../images/ic_action_name.png" class="expand-icon" id="line1-icon1">
                        </div>
                    </div>
                </div>
                <div class="hidden-info" style="margin-top: -0.1em;" class="" id="show-info1">
                    Sapporo special
                </div>
                <div class="linetest line-responsive" style="margin-top: -0.1em;">
                    <!-- <div id="line2-dummy"></div> -->
                    <div class="line2-sectiontest" id="line2-left">
                        <img class="line2-img" src="../images/master_28-34.jpg" alt="" style="height: 350px;">
                        <div style="margin-left: 1.5px;" class="line2-info" id="line2-info-left">
                            <p class="content3">Chương trình Offline</p>
                            <p class="content32" id="content-big">PREMIUM BEER</p>
                            <p class="content33">20.03.2020 - 29.03.2020</p>
                        </div>
                        <div style="margin-left: 1.5px;" class="line2-expandable-info" id="line2-expand-left">
                            <img src="../images/ic_action_name.png" class="expand-icon" id="line2-icon0">
                        </div>
                    </div>

                    <div class="line2-sectiontest" id="line2-middle" style="width: 33.3%">
                        <img class="line2-img" src="../images/master_28-35.jpg" alt="" style="height: 350px;">
                        <div class="line2-info" id="line2-info-middle">
                            <p class="content3" style="color: black;">Chương trình Offline</p>
                            <p class="content32" style="color: black;" id="content-big">SAPPORO NIGHT</p>
                            <p class="content33" style="color: black;">20.03.2020 - 29.03.2020</p>
                        </div>
                        <div class="line2-expandable-info" id="line2-expand-middle">
                            <img style="filter: brightness(0%);" src="../images/ic_action_name.png" class="expand-icon"
                                id="line2-icon1">
                        </div>
                    </div>

                    <div class="line2-sectiontest" id="line2-right">
                        <img class="line2-img" src="../images/master_28-37.jpg" alt="">
                        <div class="line2-info" id="line2-info-right">
                            <p class="content3" style="color: black;">Chương trình Offline</p>
                            <p class="content32" style="color: black;" id="content-big">BIA CÙNG CÔNG TY</p>
                            <p class="content33" style="color: black;">20.03.2020 - 29.03.2020</p>
                        </div>
                        <div class="line2-expandable-info" id="line2-expand-right">
                            <img style="filter: brightness(0%);" src="../images/ic_action_name.png" class="expand-icon"
                                id="line2-icon2">
                        </div>
                    </div>
                </div>
                <div class="hidden-info" id="show-info2" style="margin-top: -0.1em;">
                    Sapporo special
                </div>
        </section>
        <!-- video -->
        <section class="snap" id="section3">
            <video autoplay muted id="myVideo">
                <source
                    src="https://sapporovietnam.com.vn/3-buoc-rot-bia/wp-content/uploads/2019/11/sapporo_premium_beer_rot_bia_chuan_3_buoc_thuong_thuc_chuan_em_dam.mp4"
                    type="video/mp4">
            </video>
            <div id="after-video" class="div-hide">
                <p id="text1">3 BƯỚC RÓT BIA<br>CHUẨN VỊ</p>
                <div id="parent">
                    <p id="text2">TÌM HIỂU THÊM</p>
                </div>
            </div>
        </section>
        <!-- thu vien anh -->
        <section class="snap" id="section4" style="margin-top: 5%;">

            <div class="title2 title-responsive" >
                <h1>THƯ VIỆN HÌNH ẢNH</h1>
                <div class="foot-decoration" id="decoration2"></div>
            </div>
            <div class="gallery-image">
                
                    <div class="cell">
                        <div class="slideshow2" id="slideshow1">
                          <div class="slideshow__containerleft js-slideshow" :class="{ active: isActive1(index) }"
                            v-for="slide, index in listLibrary">
                            <img width="100%" :src="'../../images1/test' + slide.id + '.jpg'" />
                            <div class="side-info" id="gallery-left-info">
                                <h3 style="color: black;" class="content4" id="special-text">{{slide.title}}</h3>
                                <p style="color: black;" class="content5">{{slide.time}}</p>
                              </div>
                              <div id="gallery-left-footer" class="side-footer"></div>
                          </div>
                        </div>
                      </div>
                      <div class="cell">
                        <div class="slideshow1" id="slideshow1">
                            <div class="slideshow__containermid js-slideshow" :class="{ active: isActive(index) }"
                            v-for="slide, index in listLibrary">
                            <img width="100%" :src="'../../images1/big' + slide.id + index + '.jpg'" class="middletest" />
                            <div class="side-info" id="gallery-middle-info">
                              <h3 class="content4" id="special-text">{{slide.title}}</h3>
                              <p class="content5">{{slide.time}}</p>
                            </div>
                            <div class="side-footer" id="gallery-middle-footer">
                              <img src="../../images1/ic_action_name.png" class="expand-icon-library" id="gallery-middle-icon">
                            </div>
                            <div id="panel" class="panel1">
                              <div v-for="slide, index in listLibrary" :class="{ active: isActive(index) }" class="small-images-slider">
                                <div class="row">
                                  <div v-for="small in slide.smalls" class="small">
                                    <img id="small-slider1" class="thumbnail" :src="'../../images1/big'+small.id+'.jpg'" />
                                    {{small.id}}
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="mover">
                                <div @click="prev()" class="run" id="previous">
                                    <i class="fas fa-chevron-left"></i>
                                </div>
                                <div class="space"></div>
                                <div  @click="next()" class="run" id="next">
                                    <i style="margin-left: 3px;" class="fas fa-chevron-right"></i>
                                </div>
        
                            </div>
                          </div>
                            
                          </div>
                        </div>
                    <div class="cell">
                      <div class="slideshow3" id="slideshow1">
                        <div class="slideshow__containerright js-slideshow" :class="{ active: isActive2(index) }"
                          v-for="slide, index in listLibrary">
                          <img width="100%" :src="'../../images1/test' + slide.id + '.jpg'" />
                          <div class="side-info" id="gallery-right-info">
                            <h3 class="content4" id="special-text">{{slide.title}}</h3>
                            <p class="content5">{{slide.time}}</p>
                          </div>
                          <div id="gallery-right-footer" class="side-footer"></div>
                        </div>
                      </div>
                    </div>
                </div>
        </section>
        <footer>
            <div class="last">
                2019 © Bản quyền Sở hữu thuộc Công ty Sapporo Việt Nam
            </div>
        </footer>
    </div>
    <script>
        $(document).ready(function () {
            $(".expand-icon-library").click(function () {
                if ($(this).attr("src") === "../../images/ic_action_name.png") {
                    // console.log("true");
                    $(this).attr("src", "../../images/Picture1.png");
                }
                else {
                    $(this).attr("src", "../../images/ic_action_name.png");
                }
                $(".panel1").slideToggle("slow");
            });

        });
    </script>
    <script src="../js/script.js"></script>
    <script src="../js/script1.js"></script>
</body>

</html>